<p style="color: green"><%= notice %></p>

<div class="page-title">
  <h1>
    <%= @recipe.name %>
  </h1>
</div>

<div class="recipe-details">

  <%= render 'recipe-show' %>

  <div class="generate-add-buttons">
    <%= button_to "Add ingredient", class: 'delete-btn'%>
  </div>

  <hr>

  <div>
    <%= button_to "Delete this recipe", @recipe, method: :delete %> |
    <%= link_to "Back to recipes", recipes_path %>
  </div>
</div>
