<p style="color: green"><%= notice %></p>

<h1>Foods</h1>

<% if user_signed_in? %>
 <div> <%= current_user.name %> </div>
 <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
<% end %>

<div id="foods">
  <% @foods.each do |food| %>
    <%= render food %>
    <p>
      <%= link_to "Show this food", food %>
    </p>
  <% end %>
</div>

<%= link_to "New food", new_food_path %>
